
.container > .all-about {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 300px;
    justify-content: center;
    align-items: start;
}
.display-5 {
    font-family: "Libre Baskerville", serif;
}

.lead {
    font-family: "Ropa Sans", sans-serif;
}

.col-10 > img {
    border-radius: 5%;
} 

.heading {
    background-image: url(./Rectangle\ 1.png);
    background-size: 100% 100%;
    height: 80vh;
}
.all-about {
    padding-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
}
.about {
    display: flex;
    border: 3px solid #8FABD4;
    border-radius: 2%;
    padding: 20px;
    margin-top: 5px;
    text-align: justify;
    justify-content: end;
}
a {
    color: inherit;
}

.container > h2 > p {
    color: black;
}
.back-to-top {
    position: fixed;
    bottom: 30px;      /* distance from bottom */
    right: 30px;       /* distance from right */ 
    z-index: 1000;     /* appears above other content */
  }
  


