@media (max-width: 768px) {
    .about {
      font-size: 1rem;
      padding: 15px;
    }
    .container > .row {
        display: flex;
        flex-direction: column;
    }
  }

.container > .all-about {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    justify-content: center;
    align-items: start;
    gap: 50px;
}

.display-5 {
    font-family: "Libre Baskerville", serif;
}

.lead {
    font-family: "Ropa Sans", sans-serif;
}

.col-10 > img {
    border-radius: 5%;
} 

.heading {
    background-image: url(./Rectangle\ 1.png);
    background-size: 100% 100%;
    /* height: 80vh; */
}

.about {
    background-color: #f2f7fb;
    border: 1px solid #cddbe3;
    border-radius: 10px;
    padding: 20px;
    font-size: 1.1rem;
    line-height: 1.6;
    color: #333;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    align-items: start;
}
a {
    color: inherit;
}

.container > h2 > p {
    color: black;
}
.back-to-top {
    position: fixed;
    bottom: 30px;      /* distance from bottom */
    right: 30px;       /* distance from right */ 
    z-index: 1000;     /* appears above other content */
  }
  


